<div class="page-content">
    <h1>Informações Básicas</h1>
    <div class="form ui-g">
        <div class="ui-g-3 ui-sm-12">
            <g-form-input [input]="form.address"></g-form-input>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <g-form-input [input]="form.birthDate"></g-form-input>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <g-form-input [input]="form.annualPlan"></g-form-input>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <g-form-input [input]="form.registration"></g-form-input>
        </div>

        <div class="ui-g-4 ui-sm-12">
            <g-form-input [input]="form.personData.name"></g-form-input>
        </div>
        <div class="ui-g-4 ui-sm-12">
            <g-form-input [input]="form.personData.rg"></g-form-input>
        </div>
        <div class="ui-g-4 ui-sm-12">
            <g-form-input [input]="form.personData.cpf"></g-form-input>
        </div>
    </div>
    <h1>Pagamentos</h1>
</div>