<g-filter [filter]="filter"></g-filter>


<div class="page-content">
    <g-table [filter]="filter" [table]="table"></g-table>
</div>


<g-form-dialog [page]="this" [title]="'Professor'">
    <div class="form ui-g">
        <div class="ui-g-12">
            <g-form-input [input]="form.personData.name"></g-form-input>
        </div>
        <div class="ui-g-12">
            <g-form-input [input]="form.personData.rg"></g-form-input>
        </div>
        <div class="ui-g-12">
            <g-form-input [input]="form.personData.cpf"></g-form-input>
        </div>
        <div class="ui-g-12">
            <g-form-input [input]="form.authorizedMuscle"></g-form-input>
        </div>
        <div class="ui-g-12">
            <g-form-input [input]="form.authorizedGroupClass"></g-form-input>
        </div>
    </div>
</g-form-dialog>

