<g-filter [filter]="filter"></g-filter>


<div class="page-content">
    <g-table [filter]="filter" [table]="table"></g-table>
</div>


<g-form-dialog [page]="this" [title]="'Aula em Grupo'">
    <div class="form ui-g">
        <div class="ui-g-12 ui-sm-12">
            <g-form-input [input]="form.name"></g-form-input>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <g-form-input [input]="form.room"></g-form-input>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <g-form-input [input]="form.instructor"></g-form-input>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <g-form-input [input]="form.initHour"></g-form-input>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <g-form-input [input]="form.endHour"></g-form-input>
        </div>
    </div>
</g-form-dialog>