.modal-head {
    margin-bottom: 15px;
    display: flex;

    label {
        width: 100%;
        font-size: 0.8em;
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .name {
        flex: 1;
    }

    .registration {
        padding-right: 20px;
    }

}