<g-filter [filter]="filter"></g-filter>

<div class="page-content">
    <g-table [filter]="filter" [table]="table"></g-table>
</div>

<g-form-dialog [page]="this" [title]="i18n.t.customer.titleDetail">
    <div class="form ui-g">
        <div class="ui-g-12">
            <g-form-input [input]="form.personData.name"></g-form-input>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <g-form-input [input]="form.personData.rg"></g-form-input>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <g-form-input [input]="form.personData.cpf"></g-form-input>
        </div>
        <div class="ui-g-12">
            <g-form-input [input]="form.address"></g-form-input>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <g-form-input [input]="form.birthDate"></g-form-input>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <g-form-input [input]="form.planType"></g-form-input>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <g-form-input [input]="form.planValue"></g-form-input>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <g-form-input [input]="form.registration"></g-form-input>
        </div>
    </div>
</g-form-dialog>


<p-dialog [(visible)]="showPayment" [modal]="true" [styleClass]="'modal-lg'" [resizable]="false" [blockScroll]="true"
    [closeOnEscape]="true" [header]="'Pagamentos'">
    <div class="body-content" *ngIf="customerOnEditPayment">

        <div class="modal-head">
            <div class="registration">
                <label>{{ i18n.t.customer.registration }}</label>
                <span>{{ customerOnEditPayment.registration }}</span>
            </div>

            <div class="name">
                <label>{{ i18n.t.customer.titleDetail }}</label>
                <span>{{ customerOnEditPayment.name }}</span>
            </div>
        </div>

        <div class="table">
            <p-table [value]="customerOnEditPayment.paymentList" [autoLayout]="true">
                <ng-template pTemplate="header">
                    <tr *ngIf="table.data.length">
                        <th [pSortableColumn]="'expectedDate'">
                            <p-sortIcon [field]="'expectedDate'"></p-sortIcon>
                            {{ i18n.t.payment.expectedDate }}
                        </th>
                        <th [pSortableColumn]="'paymentDate'">
                            <p-sortIcon [field]="'paymentDate'"></p-sortIcon>
                            {{ i18n.t.payment.date }}
                        </th>
                        <th [pSortableColumn]="'value'">
                            <p-sortIcon [field]="'value'"></p-sortIcon>
                            {{ i18n.t.payment.value }}
                        </th>
                        <th >
                            <!-- {{ i18n.t.payment.value }} -->
                            Período de Uso
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td> {{ item.expectedDate.toLocaleDateString() }} </td>
                        <td> {{ item.paymentDate ? item.paymentDate.toLocaleDateString() : '-' }} </td>
                        <td> {{ item.value.toFixed(2) }} </td>
                        <td> {{ item.periodStartDate.toLocaleDateString() }} - {{ item.periodEndDate.toLocaleDateString() }} </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <p-footer class="footer-modal">
        <div class="button-modal">
            <button class="btn left" (click)="showPayment = false">
                <fa-icon [icon]="icon.no"></fa-icon>
                {{ i18n.t.label.close }}
            </button>

            <button class="btn" (click)="addPayment()">
                <fa-icon [icon]="icon.creditCard"></fa-icon>
                {{ i18n.t.payment.registerPayment }}
            </button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="showAddPayment" [modal]="true" [styleClass]="'modal-sm'" [resizable]="false" [blockScroll]="true"
    [closeOnEscape]="true" [header]="'Registrar Pagamento'">
    <div class="body-content" *ngIf="customerOnEditPayment">
        <div class="form ui-g">
            <div class="ui-g-12">
                <g-form-input [input]="paymentForm.date"></g-form-input>
            </div>
            <div class="ui-g-12">
                <g-form-input [input]="paymentForm.value"></g-form-input>
            </div>
        </div>
    </div>
    <p-footer class="footer-modal">
        <div class="button-modal">
            <button class="btn left" (click)="showAddPayment = false">
                <fa-icon [icon]="icon.cancel"></fa-icon>
                {{ i18n.t.label.cancel }}
            </button>

            <button class="btn" (click)="savePayment()">
                <fa-icon [icon]="icon.save"></fa-icon>
                {{ i18n.t.label.save }}
            </button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="showVacation" [modal]="true" [styleClass]="'modal-lg'" [resizable]="false" [blockScroll]="true"
    [closeOnEscape]="true" [header]="'Registrar Férias'">
    <div class="body-content" *ngIf="customerOnEditPayment && paymentOnEditVacation">

        <div class="modal-head">
            <div class="registration">
                <label>{{ i18n.t.customer.registration }}</label>
                <span>{{ customerOnEditPayment.registration }}</span>
            </div>

            <div class="registration">
                <label>{{ i18n.t.vacation.daysLeft }}</label>
                <span>{{ paymentOnEditVacation.getMaxVacationDays() }}</span>
            </div>

            <div class="name">
                <label>{{ i18n.t.customer.titleDetail }}</label>
                <span>{{ customerOnEditPayment.name }}</span>
            </div>
        </div>

        <div *ngIf="!paymentOnEditVacation.vacationList.length">
            Nenhum período de férias registrado ainda.
        </div>

        <div class="table" *ngIf="paymentOnEditVacation.vacationList.length">
            <p-table [value]="paymentOnEditVacation.vacationList" [autoLayout]="true">
                <ng-template pTemplate="header">
                    <tr *ngIf="table.data.length">
                        <th [pSortableColumn]="'initDate'">
                            <p-sortIcon [field]="'initDate'"></p-sortIcon>
                            {{ i18n.t.vacation.initDate }}
                        </th>
                        <th [pSortableColumn]="'endDate'">
                            <p-sortIcon [field]="'endDate'"></p-sortIcon>
                            {{ i18n.t.vacation.endDate }}
                        </th>
                        <th [pSortableColumn]="'value'">
                            <p-sortIcon [field]="'value'"></p-sortIcon>
                            <!-- {{ i18n.t.payment.value }} -->
                            Quantidade de Dias
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td> {{ item.initDate.toLocaleDateString() }} </td>
                        <td> {{ item.endDate.toLocaleDateString() }} </td>
                        <!-- <td> {{ item.value.toFixed(2) }} </td> -->
                        <td> 6 </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <p-footer class="footer-modal">
        <div class="button-modal">
            <button class="btn left" (click)="showVacation = false">
                <fa-icon [icon]="icon.no"></fa-icon>
                {{ i18n.t.label.close }}
            </button>

            <button class="btn" (click)="addVacation()">
                <fa-icon [icon]="icon.plane"></fa-icon>
                {{ i18n.t.vacation.registerVacation }}
            </button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="showAddVacation" [modal]="true" [styleClass]="'modal-sm'" [resizable]="false"
    [blockScroll]="true" [closeOnEscape]="true" [header]="'Registrar Férias'">
    <div class="body-content" *ngIf="customerOnEditPayment && paymentOnEditVacation">
        <div class="form ui-g">
            <div class="ui-g-12">
                <g-form-input [input]="vacationForm.initDate"></g-form-input>
            </div>
            <div class="ui-g-12">
                <g-form-input [input]="vacationForm.endDate"></g-form-input>
            </div>
            <div class="ui-g-12">
                Quantidade de dias: {{ vacationForm.daysQuantity }}
            </div>
        </div>
    </div>
    <p-footer class="footer-modal">
        <div class="button-modal">
            <button class="btn left" (click)="showAddVacation = false">
                <fa-icon [icon]="icon.cancel"></fa-icon>
                {{ i18n.t.label.cancel }}
            </button>

            <button class="btn" (click)="saveVacation()">
                <fa-icon [icon]="icon.save"></fa-icon>
                {{ i18n.t.label.save }}
            </button>
        </div>
    </p-footer>
</p-dialog>